{% extends "base.html" %}
{% block title %} Create post{% endblock %}
{% block body %}
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form%}
            <div class="wrapper">
                {{field.label_tag}}
                {{field}}
                <ul>
                    {%for error in field.errors%}
                        <li>
                            {{error|escape}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        <input type="submit" value="submit">
    </form>
{% endblock %}